<!-- template inheriting from base.html -->
{% extends "base.html" %}


{% block page_content %}


	<div class="row">

		<!-- LEFT column (vertical navigation bar) -->
		<!-- 	width (columns) = 3/12 columns (12 needed in bootstrap grid row) -->
		<!-- 	width (vNav) = 10% of container full width -->
		<!-- 	tgt_stats = variable passed in render_template("tgt.html", ...) -->
		<div class="col-xs-12 col-md-3">
			<ul id="vNav" class="nav nav-pills nav-stacked" style="width:10%;position:fixed;">
				<li>
					<table class="table-condensed" style="width: 100%">
						<tbody>
							<tr>
						   		<th class="grigioTd">{{ tgt_stats.fullname }}</th>
							</tr>
							<tr>
						   		<th class="grigioTd">{{ tgt_stats.country }}</th>
							</tr>
							<tr>
								<th style="width: 100%" class="grigioTd">
							    	<table class="table-condensed">
										<tbody>
											<tr>
												<th>Latitude</th>
												<th>Longitude</th>
												<th>Elevation</th>
											</tr>
											<tr>
												<td>{{ tgt_stats.lat }}</td>
												<td>{{ tgt_stats.lon }}</td>
												<td>{{ tgt_stats.alt }} m</td>
											</tr>
										</tbody>
									</table>
								</th>
							</tr>
						</tbody>
					</table>
				</li>
				<!-- mirova style -->
				<!-- <li class="active noshow"><a href="#latest" onclick="removeActive(this, 'latest')">Latest images</a></li> -->
				<!-- <li class="noshow"><a href="#lrp" onclick="removeActive(this, 'lrp')">Time series</a></li> -->

				<!-- ugly style -->
				<li {% if "/volcano/" in request.path %} class="active" {% endif %}><a href="{{ url_for('volcano', id=tgt_stats.id, _external=True) }}"> Images </a></li>
				<li {% if "/timeseries/" in request.path %} class="active" {% endif %}><a href="{{ url_for('timeseries', id=tgt_stats.id, _external=True) }}"> Time series </a></li>

				<!-- TODO style:
				Toggleable / Dynamic Pills is achievable with data-toggle attribute.
				However, it seems that it works only when href does not link to a seperate page. => Try to understand how to use the # tag (=> mirova style)... -->

			</ul>
		</div>
	

		<!-- RIGHT column -->
		<!-- width (columns) = 9/12 columns (12 needed in bootstrap grid row) -->
		<div class="col-xs-12 col-md-9">
			{% block latest_images %}
			{% endblock %}
		</div>

	</div>



{% endblock %}