{% extends "layout.html" %}

<!-- add js/css for proptrox library -->
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poptroxstyle.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
{% endblock %}

<!-- macro to link image -->
{% macro imglink(imgpath='', imgtitle='') -%}
	<a href="{{url_for('static', filename=imgpath, _external=True)}}" target="_blank"> 
		<img src="{{url_for('static', filename=imgpath|replace('.png','_thumb.png'))}}" width="100%"
		title="{{ imgtitle }}"/>
	</a>
{%- endmacro %}

<!-- image block -->
{% block latest_images %}

	{% for D in img_groups %}
		<div class="row poptroxImages">

			<!-- intensity -->
			<div class="col-md-3 seb_nopadding">
				{{ D['groupdate'].strftime('%Y-%m-%d %H:%M') }}

				{% if 'int_VV' in D['type'] %}
					{% set idx = D['type'].index('int_VV') %}
					{% set imgtitle = "intensity, VV (" + D['acqstarttime_master'][idx].strftime('%Y-%m-%d') + ")" %}
					{{ imglink(imgpath=D['abspath'][idx], imgtitle=imgtitle) }}
				{% endif %}
			</div>

			<!-- interferogram -->
			<div class="col-md-3 seb_nopadding">
				&nbsp;

				{% if 'ifg' in D['type'] %}
					{% set idx = D['type'].index('ifg') %}
					{% set imgtitle = "interferogram (" + D['acqstarttime_master'][idx].strftime('%Y-%m-%d') + " - " + D['acqstarttime_slave'][idx].strftime('%Y-%m-%d') + ")" %}
					{{ imglink(imgpath=D['abspath'][idx], imgtitle=imgtitle) }}
				{% endif %}
			</div>

			<!-- coherence -->
			<div class="col-md-3 seb_nopadding">
				&nbsp;

				{% if 'coh' in D['type'] %}
					{% set idx = D['type'].index('coh') %}
					{% set imgtitle = "coherence (" + D['acqstarttime_master'][idx].strftime('%Y-%m-%d') + " - " + D['acqstarttime_slave'][idx].strftime('%Y-%m-%d') + ")" %}
					{{ imglink(imgpath=D['abspath'][idx], imgtitle=imgtitle) }}
				{% endif %}
			</div>

			<!-- infrared -->
			{% if 'nir' in D['type'] %}
				{% set idx = D['type'].index('nir') %}
				
				<div class="col-md-3 seb_nopadding">
					{{ D['acqstarttime_master'][idx].strftime('%Y-%m-%d %H:%M') }} ({{ '%+.1f' % D['dt']|td2int('days')|round(1) }} days)

					{% set imgtitle = "near infrared, B12-B11-B8A (" + D['acqstarttime_master'][idx].strftime('%Y-%m-%d') + ")" %}
					{{ imglink(imgpath=D['abspath'][idx], imgtitle=imgtitle) }}
				</div>
				{% endif %}

		</div>

	{% endfor %}

	<script>
		var poptroxImages = $(".poptroxImages")
		poptroxImages.poptrox({
							usePopupNav:true, 
							popupWidth: 500, 
							popupHeight: 100,
							usePopupCaption: true,
							usePopupCloser: true,
							usePopupDefaultStyling: false
							});
	</script> 

{% endblock %}



